#title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 69px;
    text-align: center;
    color: white;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: auto;
    background-image: url('cover.png');
    background-size: 25%;
    background-repeat: repeat;
}

#footer{
    font-family: 'Ubuntu', sans-serif;
    background-color: grey;
    width: auto;
    height: 69px;
    padding: 0px;
    text-align: center;
    color: white; 
    position: relative;

}
header *{
    display: inline;
    align-items: center;
    
    
}
nav *{
    size: 100vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: black;
    
}
#coming-soon {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}
#block {
    background-color: dimgray;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "Text Image";
    align-content: center;
    scroll-snap-align: start;
    width: 100vw;

}
#blocktext {
    flex-direction: column;
    text-align: center;
    padding: 5vw;
    display: block;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    grid-column: 1 / 2
}
#image {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2 / 2
}
.parent {
    background-color: dimgray;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.child {
    flex: 1 1 150px; /*  Stretching: */
    margin: 5px;
}
